{% set pagetitle = '{fido2SecondFactor:fido2SecondFactor:consent_header}'|trans %}
{% extends "base.twig" %}

{% block preload %}
<link rel="stylesheet" type="text/css" href="{{ asset }}assets/css/fido2SecondFactor.css" />
<script>
{{ JSCode|raw }}
</script>
{% endblock %}

{% block content %}
    <h1>Second-Factor Authentication</h1>
<h2>Authentication with a FIDO2/WebAuthn token is required for your account, {{ UserID }}.</h2>
{% if FIDO2Tokens|length > 0 %}
<div id="currentTokens"><span id='tokencaption'>The following tokens are associated with your account:</span>
    <ul>
        {% for token in FIDO2Tokens %}
            <li>{{ token.3|e }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{{ regForm|raw }}
<div class='space'></div>
{{ deleteForms|raw }}
<div class='space'></div>
{{ nevermind|raw }}
{{ authForm|raw }}
{% endblock %}
