{% set pagetitle = '{webauthn:webauthn:page_title}'|trans %}
{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/webauthn.css', 'webauthn') }}" />
    <meta name="frontendData" id="frontendData" content="{{ frontendData }}" />
{% endblock %}

{% block content %}
    <h1>{{ '{webauthn:webauthn:heading1}'|trans }}</h1>
    <h2>{{ '{webauthn:webauthn:accountEnabled}'|trans }}</h2>
    {% if FIDO2Tokens|length > 0 %}
        <div id="currentTokens">
            <span id='tokencaption'>{{ '{webauthn:webauthn:tokenList}'|trans }}</span>
            <ul>
                {% for token in FIDO2Tokens %}
                    {% if FIDO2AuthSuccessful == false or FIDO2AuthSuccessful != token.0 %}
                        <li class='othertoken'>{{ token.3|e }}</li>
                    {% else %}
                        <li class='currenttoken'>{{ token.3|e }} {{ '{webauthn:webauthn:currentToken}'|trans }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if regURL|length > 0 %}
        <form id='regform' method='POST' action='{{ regURL|raw }}'>
            <input type='hidden' id='resp' name='response_id' value='0'/>
            <input type='hidden' id='data' name='attestation_client_data_json' value='nix'/>
            <input type='hidden' id='attobj' name='attestation_object' value='mehrnix'/>
            <input type='hidden' id='type' name='type' value='something'/>
            <input type='hidden' id='operation' name='operation' value='REG'/>
            <button type='button' id='regformSubmit'>{{ '{webauthn:webauthn:newTokenButton}'|trans }}</button>
            <label for='tokenname'>{{ '{webauthn:webauthn:newTokenName}'|trans }}</label>
            <input type='text' id='tokenname' name='tokenname' size='40'
                value='{{ '{webauthn:webauthn:newTokenDefaultName}'|trans }} {{ "now"|date('Y-m-d') }}' />
        </form>
        <div class='space'></div>
        {% if FIDO2Tokens|length > 0 %}
            {% for token in FIDO2Tokens %}
                {% if FIDO2AuthSuccessful != token.0 %}
                    <form class='deleteform' id='delete-{{ loop.index }}' method='POST' action='{{ delURL|raw }}'>
                        <input type='hidden' id='credId-{{ loop.index }}' name='credId' value='{{ token.0 }}'/>
                        <button type='submit' id='submit-{{ loop.index }}' name='submit' value='DELETE'>
                            {{ '{webauthn:webauthn:removePrefix}'|trans }} &quot;{{ token.3 }}&quot;
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
            {% if showExitButton %}
                <div class='space'></div>
                <form id='nevermind' method='POST' action='{{ delURL|raw }}'>
                    <button type='submit' id='submit-nevermind' name='submit' value='NEVERMIND'>
                        {{ '{webauthn:webauthn:noChange}'|trans }}
                    </button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if authURL|length > 0 %}
        <form id='authform' method='POST' action='{{ authURL|raw }}'>
            <input type='hidden' id='resp' name='response_id' value='0'/>
            <input type='hidden' id='data_raw_b64' name='client_data_raw' value='garnix'/>
            <input type='hidden' id='data' name='attestation_client_data_json' value='nix'/>
            <input type='hidden' id='authdata' name='authenticator_data' value='mehrnix'/>
            <input type='hidden' id='sigdata' name='signature' value='evenmorenix'/>
            <!-- ignoring <input type='hidden' id='userhandle' name='userhandle' value='someuser'/> -->
            <input type='hidden' id='type' name='type' value='something'/>
            <input type='hidden' id='operation' name='operation' value='AUTH'/>
            <input type='checkbox' id='credentialChange' name='credentialChange'>
            <label for='credentialChange'>
                {% if FIDO2Tokens|length < 2 %}
                    {{ '{webauthn:webauthn:wantsAdd}'|trans }}
                {% else %}
                    {{ '{webauthn:webauthn:wantsModification}'|trans }}
                {% endif %}
            </label><br/>
            <button type='button' id='authformSubmit'>{{ '{webauthn:webauthn:authTokenButton}'|trans }}</button>
        </form>
    {% endif %}
    <script src="{{ asset('js/webauthn.js', 'webauthn') }}"></script>
{% endblock %}
